/*=========== BASIC ===========*/
html {
	font-size: 62.5%;
}
body {
	font-family: 'Open Sans', sans-serif;
}
button:focus,input:focus{
    outline: none !important;
}
a:hover{
    text-decoration: none !important;
}
/*===========================*/
/*=== START REUSEBLE COMPONENTS ===*/
.card {
	border-radius: .8rem !important;
}
.wrapper,
.middle {
	max-width: 900px;
	margin: auto;
}
.title h3 {
	width: 85%;
	font-weight: 700;
	font-size: 2rem;
	color: #050505;
}
.title a {
	width: 15%;
	font-size: 1.5rem;
}
.title a:hover {
	text-decoration: underline !important;
	text-decoration-color: #050505 !important;
}
.paragraph {
	font-size: 1.5rem;
	color: #050505;
}
/*=== END REUSEBLE COMPONENTS ===*/
/*===========================*/

/*=============== START HEADER SECTION ===============*/
/* LOGO & SEARCH */
.container-fluids {
	width: 98%;
	margin: auto;
}
.header-content:nth-child(1) {
	width: 30%;
}
.header-content:nth-child(2) {
	width: 42%;
}
.header-content:nth-child(3) {
	width: 28%;
}  
.search-box form .search-1 {
	background: #F0F2F5;
	height: 4.5rem;
}
form .search-1 button,
form .search-1 input,
form .search-2 button,
form .search-2 input {
	outline: 0;
	border: 0;
	background-color: transparent;
	font-size: 1.5rem;
	overflow: hidden;
}
form .search-1 input {
	width: 100% !important;
	display: block;	
	color: #606770 !important;
	font-weight: 300;
}
form .search-1 button img {
	max-width: 2.2rem;
	transform: rotateY(200deg);
}
.search-2 {
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	display: none;
	width: 35rem;
	min-height: 50rem;
	padding: 2rem;
	z-index: 999999;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.search-2 button {
	width: 16%;
	margin-right: 2%;
}
.search-2 button i {
	width: 4rem;
	height: 4rem;
	font-size: 1.6rem;
	color: #5A6169;
	line-height: 4rem;
}
.search-2 button i:hover {
	background: #F2F2F2;
}
.search-2 input {
	background: #F0F2F5 !important;
	padding: 1rem 2rem;
	width: 82%;
	color: #606770 !important;
	font-weight: 300;
}
/* HEADER ICON-1 */
.header-icon-1 ul li {
	position: relative;
}
.header-icon-1 ul li:last-child {
	margin-right: 0 !important;
}
.header-icon-1 ul li a:first-child {
	padding: 1.5rem 3rem;
}
.header-icon-1 ul li a:first-child:hover {
	background: #F0F2F5;
	border-radius: 1rem;
}
.header-icon-1 ul li a.notification {
	position: absolute;
	top: .4rem;
	right: 1.4rem;
	font-size: 1.3rem;
}
/* HEADER ICON-2 */
.header-icon-2 ul li:first-child a img {
	width: 3.3rem;
	height: 3.3rem;
}
.header-icon-2 ul li:first-child a span {
	font-weight: 600;
	color: #050505;
	font-size: 1.4rem;
}
.header-icon-2 ul li:nth-child(2) a,
.header-icon-2 ul li:nth-child(3) a:first-child,
.header-icon-2 ul li:nth-child(4) a:first-child,
.header-icon-2 ul li:nth-child(5) a {
	width: 4rem;
	height: 4rem;
	background: #E4E6EB;
}
.header-icon-2 ul li a i {
	color: #050505;
	line-height: 4rem;
	font-size: 1.8rem !important;
}
.header-icon-2 ul li:nth-child(2) a:hover,
.header-icon-2 ul li:nth-child(3) a:hover,
.header-icon-2 ul li:nth-child(4) a:first-child:hover,
.header-icon-2 ul li:nth-child(5) a:hover {
	background: #D8DADF;
}
.header-icon-2 ul li a.notification {
	position: absolute;
	top: -.5rem;
	right: -1rem;
	font-size: 1.3rem;
}
/*=============== END HEADER SECTION ===============*/

/*=============== START BANNER SECTION ===============*/
.banner img {
	border-radius: 0 0 1rem 1rem;
}
.profile-main {
	width: 100%;
	position: absolute;
	top: -1.9rem;
	left: 0;
}
.profile-content {
	padding-bottom: 2rem;
}
.navbigation  {
	padding-top: 14rem;
}
.banner-section,
.profile-content {
	border-bottom: .1rem solid #CCCED2;
}
.profile {
	width: 60%;
}
.call-btn {
	width: 40%;
}
.profile img {
	width: 13.5rem;
	height: 13.5rem;
	border-radius: 50%;
	border: .1rem solid #DFDFDF;
}
.profile .p-name {
	margin: 4.5rem 0 0 3rem;
}
.p-name h2 {
	font-size: 2.9rem;
	color: #050505;
}
.p-name p {
	font-size: 1.8rem;
	color: #65676B;
}
.call-btn {
	margin-top: 8rem;
}
.call-btn a {
	font-size: 1.7rem;
	font-weight: 600;
	max-width: 34rem;
	background: #1771E6;
	border-radius: .6rem;
	padding: 1rem 0;
}

/* MENU */
.menu ul li a {
	font-size: 1.6rem;
	color: #65676B;
}
.menu ul li.active a {
	color: #1771E6;
}
.menu ul li a:hover {
	background: #F2F2F2;
}
.menu ul li.active a::after {
	content: "";
	position: absolute;
	top: 104%;
	left: 0;
	width: 100%;
	height: .4rem;
	background: #1771E6;
}
.dropdown-menus {
	width: 35rem;
	padding: 1rem;
}
.dropdown-menus a {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
	color: #050505 !important;
	border-radius: .4rem !important;
}
.menu {
	width: 55%;
}
.l_m_s-content {
	width: 45%;
}
.l_m_s-content ul li a {
	background: #e4e6eb;
	padding: .8rem 2rem;
	font-size: 1.5rem;
	font-weight: 600;
	color: #1C1E21;
	border-radius: .5rem;
}
.l_m_s-content ul {
	margin-top: 1rem;
}
.l_m_s-content ul li a:hover {
	background: #D8DADF;
}
.photos .img a {
	width: 50%;
}
/*=============== END BANNER SECTION ===============*/

/*=============== START MAIN-CONTENT SECTION ===============*/
/*======== RIGHT CONTENT =========*/
.left-content {
	width: 45%;
}
.right-content {
	width: 55%;
}

/* ABOUT */
.title h3 {
	font-weight: 700;
	font-size: 2rem;
	color: #050505;
}
.location-link a{
	font-size: 1.5rem;
}
.title a {
	font-size: 1.5rem;
}
.title a:hover {
	text-decoration: underline !important;
	text-decoration-color: #050505 !important;
}
.location,
.location-link {
	border-radius: .5rem;
}
.location .location-link {
	width: 90%;
	position: absolute;
	top: 2rem;
	left: 0;
	right: 0;
	margin: auto;
	background: #fff;
}
.location-link i {
	color: #8C939D;
	font-size: 2.2rem;
}
.location-link a:hover {
	text-decoration: underline !important;
}
a.i-btn {
	position: absolute;
	left: 1.6rem;
	bottom: 1.6rem;
}
a.location-btn {
	font-size: 3rem;
	color: #F35269;
	position: absolute;
	right: 8rem;
	bottom: 3rem;
}
.about-icon ul li:nth-child(1) span:first-child,
a.i-btn {
	width: 2.1rem;
	height: 2.1rem;
	background: #8C939D;
	font-size: 1rem !important;
}
.about-icon ul li:nth-child(1) span i,
a.i-btn i {
	line-height: 2.1rem;
}
.about-icon ul li span:first-child {
	color: #8C939D;
	font-size: 2.1rem;
}
.about-icon ul li:nth-child(1) span:last-child {
	width: 90%;
}
.about-icon ul li span img {
	width: 2.2rem;
}
.about-icon ul li a {
	font-size: 1.5rem;
}
.about-icon ul li a:hover {
	text-decoration: underline !important;
}

/* SUGGEST */
.suggest h4 {
	font-size: 1.7rem;
	color: #050505;
	font-weight: 600;
	background: #F0F2F5;
	border-radius: .7rem;
}
.suggest p {
	font-size: 1.7rem;
}
.suggest-link {
	margin-top: 2.4rem;;
}
.suggest-link ul li a {
	font-size: 1.5rem;
	color: #050505;
	font-weight: 600;
	background: #e4e6eb;
	padding: 8px 41.5px;
	border-radius: .7rem;
}
.suggest-link ul li:nth-child(2) a {
	padding: 8px 25.5px;
}
.suggest-link ul li a:hover {
	background: #D8DADF;
}

/* PAGE */
.page .title img {
	width: 2rem;
}
.page-text p {
	color: #65676B;
}
.page-text ul li span:first-child {
	background: #F0F2F5;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	display: inline-block;
	line-height: 4rem;
}
.page-text ul li span:last-child {
	font-size: 1.4rem;
	color: #050505;
	font-weight: 600;
}

/* BUSINESS */
.business h3 {
	width: 100%;
}
.business p {
	color: #65676B;
}
.business a {
	width: 100%;
	font-size: 1.7rem;
	color: #050505;
	font-weight: 600;
	background: #e4e6eb;
	padding: 8px 0;
	border-radius: .6rem;
}
.business a:hover {
	background: #D8DADF !important;
	text-decoration: none !important;
}

/* COPYRIGHT */
.copyright ul li:last-child,
.copyright ul li a {
	font-size: 1.3rem;
	color: #65676B;
}
.copyright ul li a:hover {
	text-decoration: underline !important;
	text-decoration-color: #65676B !important;
}

/*======== RIGHT CONTENT =========*/
.profile-post img {
	width: 4.6rem;
	height: 4.6rem;
}
.profile-post a:first-child span {
	color: #31A24C;
	position: absolute;
	right: .2rem;
	bottom: 0;
} 
.profile-post a:last-child {
	width: 89%;
	font-size: 1.7rem;
	color: #050505;
	font-weight: 600;
	background: #e4e6eb;
	padding: 8px 0;
	border-radius: .6rem;
}
.profile-post a:last-child:hover {
	background: #D8DADF !important;
}
.u_l_t ul li a {
	font-size: 1.5rem;
	color: #65676b;
	font-weight: 500;
	padding: .8rem 1.5rem;
	border-radius: .6rem;
}
.u_l_t ul li:nth-child(2) a {
	padding: .8rem 2.2rem;
}
.u_l_t ul li:nth-child(1) a i {
	color: #41B35D !important;
}
.u_l_t ul li:nth-child(2) a i {
	color: #D5485B!important;
}
.u_l_t ul li:nth-child(3) a i {
	color: #1771E6 !important;
}
.u_l_t ul li a:hover {
	background: #D8DADF !important;
}
.post-title {
	padding: .8rem;
}
.p-left {
	width: 92%;
}
.p-left .pp_text a span {
	color: #050505;
	font-size: 1.5rem;
	font-weight: 600;
}
.p-left .pp_text .update {
	color: #65676B;
}
.p-left .pp_text a.date {
	font-size: 1.2rem;
}
.p-left .pp_text a:hover {
	text-decoration: underline !important;
	text-decoration-color: #050505 !important;
}
.post-title .p-right a {
	width: 4em;
	height: 4rem;
}
.post-title .p-right a i {
	font-size: 1.6rem;
	color: #636A72;
	line-height: 4rem;
}
.post-title .p-right a:hover {
	background: #F2F2F2;
}
/* like, comment, share button */
.like-comment-share ul li a img {
	width: 2rem;
}
.like-comment-share ul li:nth-child(4) a img {
	width: 2.2rem;
	height: 2.2rem;
	border-radius: 50%;
}
.like-comment-share ul li a {
	font-size: 1.6rem;
	color: #65676B;
	font-weight: 500;
	padding: .8rem 1.3rem;
	border-radius: .7rem;
}
.like-comment-share ul li:nth-child(1) a {
	padding: .8rem 3.5rem;
}
.like-comment-share ul li:nth-child(3) a {
	padding: .8rem 2.6rem;
}
.like-comment-share ul li a:hover {
	background: #F2F2F2;
}

/* POST-1 */
.call-now {
	padding: 22px 12px 10px;
}
.call-left {
	width: 80%;
}
.call-left h3 {
	color: #050505;
	font-size: 1.6rem;
	font-weight: 600;
}
.call-right a {
	font-size: 1.6rem;
	padding: .8rem 1rem;
	font-weight: 600;
	color: #050505;
	background: #e4e6eb;
	border-radius: .5rem;
}
.call-right a:hover {
	background: #D8DADF;
}

/* POST-3 */
.just-padding{
	padding-bottom: 20rem;
}
.cover-photo img.big-profile {
	width: 40rem;
	height: 40rem;
	border-radius: 50%;
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/*=============== END MAIN-CONTENT SECTION ===============*/













            